body {
    background-color: grey;
    color: white;
}

h1 {
    text-align: center;
    background-color: limegreen;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
}

div#pizzamenue input{
    width: 95%;
    border: solid #000000 2px;
}

div#pizzamenue{
    max-width: 50%;
}

div.pizzabestellobjekt {
    float: left;
}

aside {
    float: right;
    max-width: 30%;
    position: absolute;
    right: 0;
}

fieldset{
    border: none;
}