body {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    margin: 0;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: limegreen;
}

div#grauzone {
    background-color: grey;
    display: flex;
}

div#navigation {
    width: 15%;
}

div#navigation h3 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.navigation a {
    color: white;
    text-decoration: none;
}

main {
    width: 55%;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

aside {
    width: 30%;
}

footer {
    background-color: black;
}

div#pizzamenue {
    display: flex;
    flex-wrap: wrap;
}

div#pizzamenue input {
    width: 95%;
    border: solid #000000 2px;
}